{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": [
            "last 3 versions",
            "Android >= 4",
            "iOS >= 6",
            "ie >= 9",
            "> 1%"
          ]
        },
        "loose": true,
        "modules": false
      }
    ]
  ]
}
