<p>
  <fa :icon="faMagic" size="4x" :rotate="90" style="background: mistyrose"/>
  <fa :icon="faMagic" size="4x" rotate="30" style="background: mistyrose"/>
  <fa :icon="faMagic" size="4x" rotate="-30" style="background: mistyrose"/>
  <fa :icon="faMagic" size="4x" flip="vertical" style="background: mistyrose"/>
  <fa :icon="faMagic" size="4x" flip="horizontal" style="background: mistyrose"/>
  <fa :icon="faMagic" size="4x" flip="both" style="background: mistyrose"/>
  <fa :icon="faMagic" size="4x" flip="both" rotate="30" style="background: mistyrose"/>
</p>
